<%- include('./partial/navBar', { title: "Home Page" }); %>

    <center><h1>Welcome home page</h1></center>
    <center><a href="/user/addAdminUser">Add Admin User</a></center>

    

<%- include('./partial/footer'); %>